.slider{
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100% !important;
    .slider-frame{
        height: 100% !important;

        .slider-list{
            height: 100% !important;
        }
    }
    .slider-control-bottomcenter{
        button{
            color: #ff3860 !important;
        }
    }
}