.slick-slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .slick-list{
        img{
            position: relative;
        }
    }
    .slick-arrow{
        z-index: 1;
    }
    .slick-prev{
        left: 5px;
    }
    .slick-next{
        right: 5px;
    }
}